rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notas/{nota}{
      allow create: if request.auth != null;
      allow update, read, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}